/*
   New Perspectives on HTML and CSS
   Tutorial 5
   3C1 Assignment

   Table Style Sheet
   Author: Mike Schreiber
   Date:   11/27/2016

   Filename:         sccr_table.css
   Supporting Files: 

*/


table.speeds {
	border: 0.3em solid gray;
	border-collapse: collapse;
	font-family: Arial, Verdana, sans-serif;
	width: 100%;	
		
}

/*table caption styles*/
table.speeds caption {
	caption-side: bottom;
	text-align: left;
	font-size: 0.8em;
}

/*table body data styles*/
table.speeds tbody td {
	font-size: 0.7em;
	border: .1em solid balck;
	padding: 0.2em;
	vertical-align: text-top;
}

table.speeds tr {
	height: 25px;
}

/*table header styles*/
table.speeds thead {
	background-color: rgb(74,110,185);
	color: Black;
	font-size: 1em;
	border: 0.1em solid black;
	vertical-align: middle;	
	font-weight: bold;
	
	}

table.speeds th {
	border: 0.1em solid black;
	vertical-align: middle;
}


table.speeds tr {
	border: 0.1em solid black;
}



/*styles for the first of type thead*/
table.speeds thead th:first-of-type {
	background-color: rgb(153,86,7);
	
 }
 
 /*styles for the 2th thead*/
table.speeds thead th:nth-of-type(2){
	background-color: rgb(74,110,85);
	
 } 
 
 
 
 /*styles for the 3th thead*/
table.speeds thead th:nth-of-type(3){
	background-color: rgb(153,0,153);
	
 }
 
 /*styles for the 4th thead*/
 table.speeds thead th:nth-of-type(4){
	background-color: rgb(74,110,185);
	
 }
 
 /*column style rules*/
 table.speeds col.cToolColumns {
	 width: 10%;
	 background-color: rgb(215,205,151);
 }
 
 
  table.speeds col.cCompositeColumns {
	 width: 30%;
	 background-color: rgb(236,255,211);
 }
 
 table.speeds col.mCoColumns {
	 width: 30%;
	 background-color: rgb(236,255,211);
 }
 
 table.speeds col.mMetalColumns {
	 width: 30%;
	 background-color: rgb(236,144,211);
 }

 
 /* 2 column layout for the introductory paragraph*/
section#summary p {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 1.6em;
	-moz-column-gap: 1.6em;
	column-gap: 1.6em;
	
	-moz-column-rule: 1px solid black;
	-webkit-column-rule: 1px solid black;
	column-rule: 1px solid black;
}
