/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Tutorial Case

   Tables Style Sheet
   Author: Mike Schreiber
   Date:  11/25/2017 

   Filename:         tables.css
   Supporting Files: 

*/

